@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Lato:100');

.nav {
  font-family: 'Barlow Semi Condensed', sans-serif;
}
.navbar {
  background: black;
  margin-bottom: 0px;
}
.quote {
  height: 100vh;
  width: 50%;
  float: right;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 30px;
}
tag {
  font-family: 'Loveletter No. 9';
}
garden {
  font-family: 'Typo Garden Demo';
  font-size: 60px;
}
round {
  font-family: 'LGf Besitos Round';
}
#quote {
  text-align: center;
  margin-top: 25%;
  margin-left: 5%;
  margin-right: 5%;
}
#navheader {
  font-family: 'EB Garamond', serif;
}
#navitem:hover {
  text-decoration: underline;
}
#navitem, #navheader {
  color: white;
}
