@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Lato:100');

.nav {
  font-family: 'Barlow Semi Condensed', sans-serif;
}
.navbar {
  background: black;
  margin-bottom: 0px;
}
.categoryBG {
  position: absolute;
  object-fit: cover;
  width: 400px;
  height: 400px;
  margin-right: 10px;
  margin-bottom: 10px;
  z-index: -1;
}
.category {
  width: 400px;
  height: 400px;
  text-align: center;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  background-size: cover;
  opacity: 1;
}
.quote {
  height: 100vh;
  width: 50%;
  float: right;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  font-size: 30px;
}
tag {
  font-family: 'Loveletter No. 9';
}
garden {
  font-family: 'Typo Garden Demo';
  font-size: 60px;
}
round {
  font-family: 'LGf Besitos Round';
}
#categoryTitle {
  height: 400px;
  margin-top: 200px;
  object-fit: cover;
  width: 100%;
  position: relative;
  z-index: 1;
}
@keyframes pan {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
#beehive {
  position: absolute;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 400px;
  height: 400px;
  opacity: 0;
}
#beehive:hover {
  cursor: pointer;
  animation: fade 1s ease;
  -webkit-animation-fill-mode: forwards;
}
@keyframes fade {
  from {
    background:;
    opacity: 0;
  }
  to {
    background: rgba(1, 1, 1, 0.6);
    opacity: 1;
  }
}
#quote {
  text-align: center;
  margin-top: 25%;
  margin-left: 5%;
  margin-right: 5%;
}
#navheader {
  font-family: 'EB Garamond', serif;
}
#navitem:hover {
  text-decoration: underline;
}
#navitem, #navheader {
  color: white;
}
